* {
  box-sizing: border-box;
}

html {
  zoom: 2.1;
}

.btn {
  background: none;
  border: none;
  font-weight: 600;
}

.background {
  height: 100%;
  width: 100%;
  top: 0px;
  left: 0px;

  position: absolute;
  z-index: -1;

  background: linear-gradient(-45deg, #b9ccd7, #fff8e0);
  // background-repeat: no-repeat;
  // background-size: cover;
  // background-position: center;
}

.box {
  display: flex;
  flex-direction: column;
  /* background-color: #f034; testing */
  padding: 3rem 3.75rem 2rem 3.75rem;

  .box-heading {
    // margin-top: -0.8rem;
    // margin-left: -1.5rem;
    margin-bottom: 1.7rem;
    font-size: 1.7rem;
    font-family: Gilroy;
    font-weight: 700;

    .buttons {
      display: flex;
      align-items: center;
    }
  }

  .box-content {
    width: 100%;
  }
}

.layout {
  height: 100%;
  width: 100%;
  padding: 1.5rem;

  display: grid;
  gap: 1.5rem;
  position: absolute;

  grid-template-columns: minmax(25rem, min-content) 1fr minmax(auto, 40rem);
  grid-template-rows: min-content min-content 1fr;

  grid-template-areas:
    'time time timetable'
    'time time timetable'
    'musjid-info-wrap slide-info-wrap timetable'
    'musjid-info-wrap slide-info-wrap timetable'
    'musjid-info-wrap slide-info-wrap timetable';

  /* grid-gap: 1rem; */
  /* margin: 1rem; */

  &.up-coming-prayer {
    grid-template-areas:
      'time time up-coming-prayer'
      'time time timetable'
      'musjid-info-wrap slide-info-wrap timetable'
      'musjid-info-wrap slide-info-wrap timetable'
      'musjid-info-wrap slide-info-wrap timetable';

    .up-coming-prayer-wrap {
      display: unset;
    }
  }

  &.up-coming-prayer-big {
    grid-template-areas:
      'time time time'
      'time time time'
      'up-coming-prayer up-coming-prayer up-coming-prayer'
      'up-coming-prayer up-coming-prayer up-coming-prayer'
      'up-coming-prayer up-coming-prayer up-coming-prayer';

    .up-coming-prayer-wrap {
      display: unset;

      zoom: 1.3;
      min-width: 41rem;
      justify-self: center;
      padding: 3rem;
    }

    .wrap:not(.up-coming-prayer-wrap, .time-wrap) {
      display: none;
    }
  }

  &.prayer-after {
    grid-template-areas:
      'time time prayer-after'
      'time time timetable'
      'musjid-info-wrap slide-info-wrap timetable'
      'musjid-info-wrap slide-info-wrap timetable'
      'musjid-info-wrap slide-info-wrap timetable';

    .prayer-after-warp {
      display: unset;
    }
  }

  &.layout-slides {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 'slide-info-wrap';

    .wrap:not(.slide-info-wrap) {
      display: none;
    }
  }
}

.wrap {
  display: grid;
  // flex-direction: column;
  // padding: 1.2rem;
  // padding-bottom: 0rem;

  .box {
    overflow: hidden;
    background-image: linear-gradient(-45deg, #133951, #1a4d6e);
    // margin: 1.2rem 1.2rem 1.2px 1.2rem;
    // margin-bottom: 0rem;

    // width: 100%;
    // height: 100%;

    border-radius: 1rem;
    box-shadow: 0rem 0rem 2rem 0rem rgb(128, 128, 128);
  }

  &.warp-light {
    .box {
      color: #341e00;
    }
  }

  // &:nth-last-child(0) {
  // padding-bottom: 1.2rem;
  // }
}

.time-wrap {
  grid-area: time;
  justify-content: center;
  justify-items: center;

  .box {
    background: none;
    background-color: none;
    box-shadow: none;
    overflow: unset;

    text-align: center;
    // justify-content: center;
    // justify-items: center;

    min-width: 40rem;

    .time {
      margin: 0px;
      text-shadow: 0px 0px 1.5em #000b;
      font-size: 5rem;
      color: #373737;

      .time-sec {
        display: inline-block;
        text-align: start;
        min-width: 1.2em;
        max-width: 1.2em;
      }

      .time-dots {
        margin: 0 0.05em;
        // color: #777777;
      }
    }

    .date {
      margin: 0px;
      text-shadow: 0px 0px 1.5em #000b;
      color: #373737;
      font-size: 3rem;
      font-weight: 500;
    }

    .date-islamic {
      margin: 0px;
      display: flex;
      gap: 1rem;
      justify-content: center;
      text-shadow: 0px 0px 1.5em #000b;
      color: #373737;
      font-size: 3rem;
      font-weight: 500;
    }
  }
}

.timetable-wrap {
  grid-area: timetable;

  .table-row {
    display: flex;
    justify-content: space-between;
    font-size: 1.5rem;
    line-height: 1.9;
    border-bottom: solid 1px rgba(255, 255, 255, 0.138);

    &:first-child {
      border: none;
      margin-bottom: 0.7rem;
    }

    &:last-child {
      border: none;
    }

    div {
      min-width: 5rem;
    }

    // .name,
    .heading {
      /* background-color: red; */
      color: #fffa;
      // font-weight: 500;
      /* align-content: center; */
    }

    .name {
      min-width: 10rem;

      padding-top: 0.3rem;
      // line-height: 3.5rem;
    }

    .begins {
      font-size: 1.9rem;
      font-weight: 600;
    }

    .starts {
      min-width: 10rem !important;
      display: flex;
      flex-direction: column;
      text-align: end;

      .starts-time {
        font-size: 1.9rem;
        font-weight: 600;
      }

      .change {
        margin-top: -1.2rem;

        color: #ffb040;
        font-size: 1.2rem;
        font-weight: 600;
        word-break: none;
      }
    }
  }
}

.up-coming-prayer-wrap {
  grid-area: up-coming-prayer;
  display: none;

  height: 100%;

  .box-content {
    margin-top: -1rem;
    text-align: end;

    .up-coming-prayer {
      width: 100%;

      font-family: 'Gilroy';
      margin-right: 3rem;

      font-weight: 800;
      font-size: 4rem;
      text-align: end;
    }
  }
}

.prayer-after-warp {
  grid-area: prayer-after;
  display: none;

  height: 100%;

  .box-content {
    margin-top: -1rem;
    text-align: end;

    .up-coming-prayer {
      width: 100%;

      font-family: 'Gilroy';
      margin-right: 3rem;

      font-weight: 800;
      font-size: 4rem;
      text-align: end;
    }
  }
}

.musjid-info-wrap {
  grid-area: musjid-info-wrap;

  // height: min-content;

  .box {
    background-image: linear-gradient(-45deg, #bd9865, #d9b581) !important;
    box-shadow: 0rem 0rem 2rem 0rem #b3b3b3bc;
    border: solid 1px rgb(135, 120, 69);

    .box-content {
      height: 100%;
      margin-top: -1rem;

      display: flex;
      flex-direction: column;

      .qr-code {
        display: flex;
        height: 100%;
        // background-color: red;

        img {
          width: 100%;
        }
      }
    }
  }
}

.slide-info-wrap {
  grid-area: slide-info-wrap;

  // height: min-content;

  .box {
    background-image: linear-gradient(-45deg, #bd9865, #d9b581) !important;
    box-shadow: 0rem 0rem 2rem 0rem #b3b3b3bc;
    border: solid 1px rgb(135, 120, 69);

    .box-heading {
      display: flex;
      justify-content: space-between;
    }

    .box-content {
      margin-top: -1rem;
    }
  }
}

.layout-slides {
  .slide-info-wrap {
    .box {
      zoom: 1.5;

      background-image: none !important;
      box-shadow: none;
      border: none;
      border-radius: 0;
      padding: 0;
    }
  }
}
